.bai-hoc-container {
  background: #ffffffad;
  border-radius: 15px;
}

.ds-bai-hoc-right-container {
  border-left: 1px dashed;
}

@media (max-width: 768px) {
  .ds-bai-hoc-right-container {
    border-left: none;
  }
}