.exercise-question-container {
  background-image: linear-gradient(#ecf2c5db, #c4e8e575, #c4e8e5cc);
  border: none;
  border-radius: 15px;
}

.exercise-question-container #multiple-choice-question,
.exercise-question-container #fill-choice-question {
  border: none;
  font-size: 2vw;
}

.exercise-question-container .multiple-choice-answers,
.exercise-question-container label {
  font-size: 1.5vw;
}

.bai-tap-title {
  font-family: 'UTM_Alexander_0';
  font-size: 5vw;
  color: #F15A24;
}

.exercise-question-container .current-exercise-number {
  padding-left: 15px;
  color: darkslategray;
  font-size: 1.2vw;
}

.exercise-question-container .answer-btn {
  font-size: 1.5vw;
  font-weight: bold;
  background: #CC332F;
  color: white;
}

.exercise-question-container .answer-btn:hover {
  background: rgb(192, 18, 12);
}

@media (max-width: 768px) {

  .exercise-question-container #multiple-choice-question,
  .exercise-question-container #fill-choice-question {
    font-size: 1.1rem;
  }

  .exercise-question-container .multiple-choice-answers,
  .exercise-question-container label {
    font-size: initial;
  }

  .bai-tap-title {
    font-size: 2rem;
  }

  .exercise-question-container .current-exercise-number {
    font-size: 0.8rem;
  }

  .exercise-question-container .answer-btn {
    font-size: 0.9rem;
  }

}