.menu-bar{
    display: flex;
    overflow: hidden;
    width: 70px;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    flex-shrink: 0;
    height: 100%;
}

.menus{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.icon-app{
    position: relative;
}

.icon-app>img{
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin: 20px 6px;
}

.action-logout>img{
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin: 780px 6px 0 6px;
}

.action-logout>img:hover{
    background: rgba(241, 241, 241, 0.274);
}

.me-online{
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: rgb(25, 255, 17);
    border-radius: 50%;
    right: 4px;
    bottom: 20px;
}
