.ds-bai-hoc-container {
  /* background: #ffffffad; */
  border-radius: 15px;
}

.ds-bai-hoc-container li {
  font-size: 1.75vw;
}

.ds-bai-hoc-right-container {
  border-left: 1px dashed;
}

.ds-bai-hoc-content-container {
  background: #ffffffc7;
  border-radius: 15px;
}

.ds-bai-hoc-content-container a {
  text-decoration: none;
  color: initial
}

.ds-bai-hoc-title {
  font-family: 'UTM_Alexander_0';
  font-size: 5vw;
}

.ds-bai-hoc-chuyen-de-title {
  font-family: 'UTM_Alexander_0';
  font-size: 2vw;
}

/* Toán */
.ds-bai-hoc-title-container.toan {
  background: rgba(108, 117, 125, 0.11);
  border-radius: 15px;
}

.toan {
  color: #1ba7c6;
}

/* Tiếng việt */
.ds-bai-hoc-title-container.tieng-viet {
  background: rgba(49, 190, 104, 0.14);
  border-radius: 15px;
}

.tieng-viet {
  color: #18c618;
}

@media (max-width: 768px) {
  .ds-bai-hoc-right-container {
    border-left: none;
  }

  .ds-bai-hoc-chuyen-de-title, .ds-bai-hoc-container li {
    font-size: initial;
  }

  .ds-bai-hoc-title {
    font-size: x-large;
  }
}