.ds-bai-tap-title {
    font-family: 'UTM_Alexander_0', sans-serif;
    font-size: 7vh;
    color: red;
    font-weight: 800;
}

.ds-bai-tap {
    margin: 0 auto;
}

.ds-bai-tap-box {
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 4vh;
    border-radius: 15px;
    background-color: white;
    opacity: 0.7;
    margin-top: 5vh;
}

.ds-bai-tap-box a {
    text-decoration: none;
    color: unset;
}

.chuong:hover .chuong-number {
    color: darkblue;
}

.chuong-number {
    font-family: 'UTM_Alexander_0', sans-serif;
    color: blue;
    font-weight: 500;
    font-size: 4vh;
}

.list-bai-tap ul {
    font-size: 3vh;
    padding-top: 2vh;
}

.ds-bai-tap-branch {
    font-size: 7vh;
    color: orange;
    font-family: 'UTM_Alexander_0', sans-serif;
    font-weight: 500;
}

@media(max-width: 768px) {
    .ds-bai-tap {
        font-size: initial
    }

    .ds-bai-tap-branch {
        margin-top: 0;
    }
}

.exam-list {
    padding-top: 7vh;
}