.facebook-logo-container {
  background: #3d5a98;
}

.facebook-logo-container+div {
  background: #3d5a98cc;
  color: white;
  font-weight: bold;
}

.facebook-login-button {
  background: transparent;
  font-size: 1.6vw;
  font-weight: bold;
  color: white;
  border: none;
}