.facebook-logo-container {
  background: #3d5a98;
}

.facebook-logo-container+div {
  background: #3d5a98cc;
  color: white;
  font-weight: bold;
}

.facebook-login-button {
  background: transparent;
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  border: none;
}

@media(max-width: 768px) {
  .facebook-login-button {
  font-size: initial
  }
}