footer{
    min-height: 20vh;
    background: url("/images/Footer-background-01.png");
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:red;
    font-size: small;
}
