.header {
	font-size: 1.2vw;
	background-image: linear-gradient(#ecf2c5, #c4e8cd, #b6d8d5);
	/* min-height: 80px; */
}

.my-logo-text {
	font-family: 'UTM Guanine'
}

.my-logo-text div:nth-of-type(1) {
	font-size: 0.75em;
	color: #5596dc;
}

#logo-name {
	font-size: 1.25em;
	color: #14497a;
}

.dang-nhap-header-btn, .dang-ky-header-btn {
	color: #14497a;
	border-color: #588ab7;
	font-size: 1.2vw;
	font-family: 'UVN_ChimBienNang'
}

.dang-ky-header-btn:hover, .dang-nhap-header-btn:hover {
	background-color: #14497a;
}

.header a {
	text-decoration: none;
	color: #14497a
}

.tai-khoan-dropdown button.btn {
	font-size: 1vw;
	padding: 0 0.3rem 0 0.2rem;
}

.dropdown-menu button.dropdown-item {
	font-size: 1.2vw;
	color: #14497a
}

/* For mobile screen (<768px) */

@media (max-width: 767.99px) {
	.header {
		display: none;
	}
}