.overall{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(#ecf2c5db, #c4e8e575, #c4e8e5cc);
  background-size: cover;
  border-radius: 15px;
  padding: 3em;
}

.question{
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 2em; 
}

.multiple{
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.answer{
  margin: 30px;
}