.nav-item-image {
    width: 40px;
    height: 35px;
}

.nav-item-text {
    font-weight: bold;
    display: inline-block;
    color: white;
}

nav {
    background-color: #cc332f;
    font-size: 1.2vw;
}

.navbar-brand img {
    width: 67px;
}

.navbar-brand a {
    text-decoration: none;
}

.navbar-brand .my-logo-text div:nth-of-type(1) {
    color: antiquewhite;
    font-size: x-small;
}

.navbar-brand #logo-name {
    font-size: unset;
}

.nav-item {
    margin-right: 40px;
}

.menu-content {
    border: 1px dashed #fff;
    margin: 2px 0;
}

@media(max-width: 768px) {
    nav {
        font-size: initial;
    }
}