.title-box {
    font-size: 1.5vw;
    border: 1.5px dashed indianred;
    border-radius: 20px;
}

.title-box div:nth-child(1) {
    border-radius: 20px 0px 0px 20px;
    background: white;
}
.title-box-img {
    width: 90%;
    height: auto;
}

.title-box-header {
    font-family: 'UTM_Alexander_0';
    font-size: 1em;
    text-align: center;
}

.title-box-content {
    font-family: 'SVN_Newton';
    font-size: 1.3em;
    border-left: 1.5px dashed indianred;
    display: flex;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}

.title-box-content ul { 
    width: 100%;
}

@media (max-width: 768px) {
    .title-box {
        font-size: initial;
    }

    .title-box-header {
        font-size: 1.8em;
    }

    .title-box-img {
        width: 70%;
        height: auto;
    }

    .title-box-content {
        font-size: 2em;
    }
}    
