@font-face {
  font-family: 'UTM Guanine';
  src: url('/fonts/UTM_Guanine_0.ttf');
}

@font-face {
  font-family: 'UVN_ChimBienNang';
  src: url('/fonts/UVN_ChimBienNang.ttf');
}

@font-face {
  font-family: 'UTM_Alexander_0';
  src: url('/fonts/UTM_Alexander_0.ttf');
}

@font-face {
  font-family: 'SVN_Newton';
  src: url('/fonts/SVN_Newton.ttf');
}

html {
  min-height: 100%;
}

.spinner-container {
  z-index: 1000;
  background: rgba(108, 117, 125, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 6px solid #f8f9fa8f;
  border-radius: 50%;
  border-top: 6px solid #c12d3c;
  width: 50px;
  height: 50px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main-content-container {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("/images/Background-01.png");
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 3vh;
  padding-top: 2vh;
}

@media(max-width: 768px) {
  * {
    font-size: initial;
  }
}